
<GridLayout rows="auto, *">
    <GridLayout row="0" class="grid-top" >
    </GridLayout>
    
    <GridLayout row="1" backgroundColor="#f8f8fa">
    </GridLayout>    
</GridLayout>
   
<AbsoluteLayout>
    <Image src="{{http}}" left="150" top="-100" width="100" height="100" class="profile"
    stretch="aspectFit"></Image>
    
    <MDCardView left="25" top="50"  width="360" >
            <StackLayout class="card" 
                style="justify-content: center; text-align: center; 
                margin-top: 50vh;">
                
                <Label class="h1" text="{{title}}" style="font-weight: 700;"> </Label>
                <Label class="h5" text="{{location}}"></Label>
                <Label class="h5" text="{{date}}" style="color: #a8a8a8;"></Label> 
                <Label class="h2" text="Total Spent" style="font-weight: 900;"></Label>
                <Label class="h1" text="{{totalSpent}}EGP" style="font-weight: 900;"></Label> 
                <Label class="h5" text="YOU GOT" style="color: #a8a8a8;"></Label>
                
                <DockLayout >
                    <Label dock="left" style="font-weight: 900;color: #00a9a6;" 
                    text="{{numberOfPunches}} PUNCHES" class="h3 text-left"></Label>
                    <Label dock="right" style="font-weight: 900;color: #00a9a6;"
                    text="{{zealCoins}} Zeal Coins"  class="h3 text-right" ></Label>
                </DockLayout> 
                
                
                <StackLayout class="hr m-10"></StackLayout>
                
                <DockLayout >   
                    <Label class="h5 text-left" 
                            text="PAYMENT DETAILS" 
                            style="color: #a8a8a8;font-weight: 700;"
                            dock="left"></Label> 
                    <Label class="h5 text-right" 
                           text="{{paymentDetails}}"
                           dock="right"
                           style="color: #a8a8a8;
                           font-weight: 700;"></Label>
                </DockLayout>
                <DockLayout >
                    <Label class="h4 text-left" 
                           text="Transaction Number: " style="font-weight: 700;"
                           dock="left"></Label> 
                    <Label class="h4 text-right"
                           dock="right" 
                           text="{{transactionNumber}}"
                           style="color: #a8a8a8;font-weight: 700;"></Label>
                </DockLayout>
             
                <Button class="-rounded-lg"
                        style="background-color:  #00a9a6;margin-bottom: 10vh;" 
                        text="Refund"></Button>

            </StackLayout>       
    </MDCardView>
</AbsoluteLayout>
