<GridLayout>
    
    <GridLayout rows="auto,*" backgroundColor="#f8f8fa">
        <GridLayout row="0" class="grid-top">
        </GridLayout>
    </GridLayout>
    
    <GridLayout  columns="20, *, 20" style="margin-top: 80" rows="560">    
            <Image col="1" [src]="transaction.buissness.photo"  class="profile"></Image>
            <MDCardView   col="1" class="round">
                <StackLayout class="card">              
                    <Label class="h1" style="font-weight: 800;" [text]="transaction.buissness.title" > </Label>
                    <Label class="h3" style="margin-top: -8" [text]="transaction.buissness.location"></Label>
                    <Label class="h3 grey m-t-5 m-b-5" [text]="transaction.date" ></Label> 
                    <Label class="h2 bold-9" style="margin-bottom: -5;" text="Total Spent" ></Label>
                    <Label class="h1 bold-9" style="margin-top: -5;" [text]="transaction.spent + ' EGP'" ></Label> 
                    <Label class="h5 grey bold-6"  style="margin-top: -5;" text="YOU GOT"></Label>              
                    <DockLayout >
                        <Label dock="left" [text]="transaction.punches + ' PUNCHES'" 
                        class="h4 bold-9 color-green text-left"></Label>
                        <Label dock="right" [text]="transaction.coins + ' Zeal Coins'"  
                        class="h4 bold-9 color-green text-right" ></Label>
                    </DockLayout> 
                                            
                                            
                    <StackLayout class="hr m-10 m-t-20"></StackLayout>
                                            
                    <DockLayout>   
                        <Label class="h6 text-left grey bold-6" 
                                text="PAYMENT DETAILS" dock="left"></Label> 
                        <Label class="h5 grey bold-6 text-right" 
                                [text]="transaction.details" dock="right"></Label>
                    </DockLayout>
                            
                    <DockLayout>
                        <Label class="h3 bold-9 text-left" 
                                text="Transaction Number: " dock="left"></Label> 
                        <Label class="h3 grey bold-6 text-right"
                                dock="right" [text]="transaction.number"></Label>
                    </DockLayout>
                                        
                    <Button  class="h3" text="Refund"></Button>
                            
                </StackLayout>       
            </MDCardView>

            <Label col="1" text="&#xf104;" 
            style="color: white;margin-top: 10;" class="fas"></Label>  

    </GridLayout>
  
</GridLayout>